# Created by .ignore support plugin (hsz.mobi)
#GIT代码提交忽略文件配置
/target
*.classpath
*.class
*.myumldata

#打包相关
*.jar
*.war

*.versionsBackup

Thumbs.db

#idea相关
/.idea
*.iml
*.ipr
*.iws
.idea/.name
.idea/*.xml
.idea/


#eclipse相关
/.project
/.settings

.idea/artifacts/springmvc_war.xml
.idea/artifacts/springmvc_war_exploded.xml
.idea/libraries/Maven__com_alibaba_fastjson_1_2_15.xml
.idea/libraries/Maven__com_google_code_gson_gson_2_6_2.xml
.idea/libraries/Maven__com_microsoft_sqlserver_mssql_jdbc_6_2_1_jre8.xml
.idea/libraries/Maven__commons_beanutils_commons_beanutils_1_8_3.xml
.idea/libraries/Maven__commons_codec_commons_codec_1_6.xml
.idea/libraries/Maven__commons_collections_commons_collections_3_2_1.xml
.idea/libraries/Maven__commons_dbcp_commons_dbcp_1_4.xml
.idea/libraries/Maven__commons_fileupload_commons_fileupload_1_3.xml
.idea/libraries/Maven__commons_io_commons_io_2_2.xml
.idea/libraries/Maven__commons_lang_commons_lang_2_6.xml
.idea/libraries/Maven__commons_logging_commons_logging_1_2.xml
.idea/libraries/Maven__commons_pool_commons_pool_1_5_4.xml
.idea/libraries/Maven__javax_servlet_jsp_api_2_0.xml
.idea/libraries/Maven__javax_servlet_servlet_api_2_5.xml
.idea/libraries/Maven__jdom_jdom_1_0.xml
.idea/libraries/Maven__jstl_jstl_1_2.xml
.idea/libraries/Maven__log4j_log4j_1_2_17.xml
.idea/libraries/Maven__net_sf_ezmorph_ezmorph_1_0_6.xml
.idea/libraries/Maven__org_apache_httpcomponents_httpclient_4_2_1.xml
.idea/libraries/Maven__org_apache_httpcomponents_httpcore_4_2_1.xml
.idea/libraries/Maven__org_json_json_20160212.xml
.idea/libraries/Maven__org_slf4j_slf4j_api_1_7_2.xml
.idea/libraries/Maven__org_slf4j_slf4j_log4j12_1_7_2.xml
.idea/libraries/Maven__org_sonatype_sisu_sisu_guice_no_aop_2_9_4.xml
.idea/libraries/Maven__org_sonatype_sisu_sisu_inject_bean_2_1_1.xml
.idea/libraries/Maven__org_springframework_spring_aop_4_3_2_RELEASE.xml
.idea/libraries/Maven__org_springframework_spring_beans_4_3_2_RELEASE.xml
.idea/libraries/Maven__org_springframework_spring_context_4_3_2_RELEASE.xml
.idea/libraries/Maven__org_springframework_spring_core_4_3_2_RELEASE.xml
.idea/libraries/Maven__org_springframework_spring_expression_4_3_2_RELEASE.xml
.idea/libraries/Maven__org_springframework_spring_jdbc_4_3_2_RELEASE.xml
.idea/libraries/Maven__org_springframework_spring_test_4_3_2_RELEASE.xml
.idea/libraries/Maven__org_springframework_spring_tx_4_3_2_RELEASE.xml
.idea/libraries/Maven__org_springframework_spring_web_4_3_2_RELEASE.xml
.idea/libraries/Maven__org_springframework_spring_webmvc_4_3_2_RELEASE.xml
.idea/vcs.xml
.project
springmvc.iml
src/main/java/com/dudu/lizhen/redis/
target/
